@import "styles/colors";
@import "styles/effects";
@import "styles/breakpoints";

.button {
  cursor: pointer;
  font-family: "Caveat", cursive;
  letter-spacing: 0.15rem;
  color: $red-off;
  border: 0.3rem solid $red-off;
  width: 25rem;
  font-size: 2rem;
  text-align: center;
  transition: 500ms all;
  border-radius: 0.5rem;
  background: transparent;
  @include breakpoint("sm") {
    width: 90vw;
  }
  &:hover {
    color: $red-on;
    border: 0.3rem solid $red-on;
    @include neon(text-shadow, $red-on);
    @include neon(box-shadow, $red-on);
  }
}
