@import "styles/colors";
@import "styles/effects";
@import "styles/breakpoints";

@mixin button($color-on, $color-off) {
  color: $color-off;
  border: 0.3rem solid $color-off;
  &:hover {
    color: $color-on;
    border: 0.3rem solid $color-on;
    @include neon(text-shadow, $color-on);
    @include neon(box-shadow, $color-on);
  }
}

.button {
  background-color: black;
  cursor: pointer;
  font-family: "Caveat", cursive;
  letter-spacing: 0.15rem;
  width: 45rem;
  font-size: 2rem;
  text-align: center;
  transition: 500ms ease;
  border-radius: 0.5rem;
  margin: 0.2rem;
  @include breakpoint("sm") {
    width: 90vw;
  }
  &--blue {
    @include button($blue-on, $blue-off);
  }
  &--red {
    @include button($red-on, $red-off);
  }
}
