@import "../../styles/colors.scss";
@import "../../styles/effects.scss";

.lobby-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  &--header {
    height: 50%;
    font-size: 6rem;
  }

  &--button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
  }
}
