@import "styles/colors.scss";
@import "styles/effects.scss";
@import "styles/breakpoints.scss";

.desktop--game-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &--tools {
    width: 30%;
  }

  &--info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--time-remaining {
      font-size: 4rem;
      @include breakpoint("xl") {
        font-size: 2.5rem;
      }
      @include breakpoint("md") {
        font-size: 2rem;
      }
      margin-top: 3rem;
    }

    &--rounds-left {
      font-size: 4rem;
      @include breakpoint("xl") {
        font-size: 2.5rem;
      }
      @include breakpoint("md") {
        font-size: 2rem;
      }
      margin: 2rem 0;
    }
  }

  &--main {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    &--big-button {
      margin-bottom: 3rem;
      width: 15rem;
      padding: 1rem;
      color: $red-on;
      border: 6px solid $red-on;
      font-size: 4rem;
      @include breakpoint("md") {
        width: 10rem;
        padding: 0;
      }
    }
    &--ready-set-go {
      margin-bottom: 3rem;
      @include breakpoint("md") {
        font-size: 6rem;
      }
    }
    &--button-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &--disabled {
        & > * {
          pointer-events: none;
          filter: grayscale(60%);
        }
      }
    }
  }
}
