@import "../../styles/colors.scss";
@import "../../styles/effects.scss";

.gamepage--button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &--disabled {
    & > * {
      pointer-events: none;
      filter: grayscale(60%);
    }
  }
}

