@import "../../styles/colors.scss";
@import "../../styles/effects.scss";

.gamepage-container {
  &--center-col {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: flex-end;
    align-items: center;
    &--big-button {
      margin-bottom: 7.5rem;
      width: 15rem;
      padding: 1rem;
      color: $red-on;
      border: 6px solid $red-on;
      font-size: 4rem;
    }
    &--ready-set-go {
      margin-bottom: 5rem;
    }
    &--button-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &--disabled {
        & > * {
          pointer-events: none;
          filter: grayscale(60%);
        }
      }
    }
  }
}
