@import "styles/colors.scss";
@import "styles/effects.scss";
@import "styles/utilities.scss";

@mixin typography($color-off, $color-on) {
  transition: 500ms ease;
  width: 100%;
  color: $color-off;

  &:hover {
    color: $color-on;
    @include neon(text-shadow, $color-on);
  }
}

.font {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;

  .blue {
    color: $blue-on;
    &--on {
      @include typography($blue-on, $blue-on);
    }
  }

  .red {
    color: $red-on;
    &--on {
      @include typography($red-off, $red-on);
    }
  }

  .hot-pink {
    color: $hot-pink-off;
    &--on {
      @include typography($hot-pink-off, $hot-pink-on);
    }
  }
}
