@import "styles/colors";
@import "styles/effects";

.font {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;

  .blue {
    transition: 500ms all;
    width: 100%;
    color: $blue-off;
    &:hover {
      color: $blue-on;
      @include neon(text-shadow, $blue-on);
    }
  }

  .red {
    transition: 500ms all;
    color: $red-off;
    width: 100%;
    &:hover {
      color: $red-on;
      @include neon(text-shadow, $red-on);
    }
  }
}
