@import "styles/colors";
@import "styles/effects";
@import "styles/utilities";

.song-info-container {
  margin-bottom: 2rem;
  &--image {
    width: 35rem;
    border-radius: 2rem;
    opacity: 90%;
    filter: brightness(85%);
  }
  &--album-name {
    text-align: center;
  }
}
