@import "styles/colors";
@import "styles/effects";
@import "styles/breakpoints";

.gamepage-container--mobile {
  &--center-col {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: flex-end;
    align-items: center;
    &--big-button {
      width: 15rem;
      padding: 1rem;
      color: $red-on;
      border: 6px solid $red-on;
      font-size: 4rem;
      margin-bottom: 5rem;
    }
    &--ready-set-go {
      font-size: 6rem;
      margin-bottom: 6rem;
    }

    &--button-container {
      &--disabled {
        & > * {
          pointer-events: none;
          filter: grayscale(60%);
        }
      }
    }
  }
}
