@import "styles/colors";
@import "styles/effects";
@import "styles/utilities";
@import "styles/breakpoints";

.navbar {
  width: 100%;
  height: 20vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  @include breakpoint("sm") {
    height: 10vh;
  }

  &--route-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include breakpoint("lg") {
      width: 90%;
    }
  }

  &--logo-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    &__logo {
      width: 5.5rem;
      height: 5rem;
      margin-right: 2rem;
      @include breakpoint("sm") {
        width: 4.5rem;
        height: 4rem;
      }
      @include breakpoint("xs") {
        margin-right: 0.5rem;
      }
    }
  }

  &--hamburger {
    width: 40%;
    margin: 0.25rem 1rem;
  }

  &--open {
    width: 100%;
    height: 20rem;
    background-color: $blue-background;
  }
}
